$blue: #2f80ed;
$cyan: #00bcd4;
$orange: #f2994a;
$white: #fffff2;
@include generateColors('white',$white);
$customGray: #f2f2f2;
@include generateColors('customGray',$customGray);
$customBeige: #efefef;
@include generateColors('customBeige',$customBeige);
$customLinear-1-1: #acb6e5;
@include generateColors('customLinear-1-1',$customLinear-1-1);
$customLinear-1-2: #86fde8;
@include generateColors('customLinear-1-2',$customLinear-1-2);
$customLinear-2-1: #9796f0;
@include generateColors('customLinear-2-1',$customLinear-2-1);
$customLinear-2-2: #fbc7d4;
@include generateColors('customLinear-2-2',$customLinear-2-2);
$customLinear-3-1: #2bc0e4;
@include generateColors('customLinear-3-1',$customLinear-3-1);
$customLinear-3-2: #eaecc6;
@include generateColors('customLinear-3-2',$customLinear-3-2);
$customGradientGray: #353434;
@include generateColors('customGradientGray',$customGradientGray);
$customGradientDark: #141414;
@include generateColors('customGradientDark',$customGradientDark);
$customGray-2: #ececec;
@include generateColors('customGray-2',$customGray-2);
$customGray-3: #e9e9e9;
@include generateColors('customGray-3',$customGray-3);
